/* 
*{
    background-color: rgb(46, 57, 65);
}
*/

body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.header{
    background-color: rgb(46, 57, 65);
    padding-left: 200px;
    padding-right: 200px;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#top-half{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.logo{
    font-weight: 700;
    font-size: 22px;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header-content{
    display: flex;
    justify-content: space-between;

}

.title{
    font-size: 40px;
    font-weight: 900;
}

.description{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-between;
    gap: 2px;
}

.title{
    width: 300px;
}

.subtext{
    width: 400px;
    padding-bottom: 5px;
}

#button-1{
    border-radius: 5px;
    background-color: rgb(53, 123, 226);
    border-color: rgb(53, 123, 226);
    color: white;
    width: 100px;
    height: 30px;
    font-weight: 600;
    text-align: center;
}

img{
    width: 100vh;
    height: 30vh;
    margin-bottom: 50px;
    padding-top: 50px;
}

#top-mid{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    font-weight: 900;
    font-size: 50px;
    padding: 50px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pics{
    width: 180vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.stock{
    border: solid 6px rgb(53, 123, 226);
    border-radius: 10px;
    height: 30vh;
    width: 30vh;
    align-self: center;
    padding: 10px;
}


/*
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.text{
    width: 30vh;
    flex-wrap: wrap;
}
*/