body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgb(46, 57, 65);
}

.header{
    background-color: rgb(46, 57, 65);
    padding-left: 200px;
    padding-right: 200px;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 80vh;
    flex: 1 1 auto;
}

#top-half{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.logo{
    font-weight: 700;
    font-size: 22px;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header-content{
    display: flex;
    justify-content: space-between;
    height: 60vh;
}

.title{
    font-size: 60px;
    font-weight: 900;
    width: 500px;
}

.description{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-between;
    gap: 2px;
}

.subtext{
    width: 550px;
    padding-bottom: 5px;
    font-size: 22px;
}

#button-1{
    border-radius: 10px;
    background-color: rgb(53, 123, 226);
    border-color: rgb(53, 123, 226);
    color: white;
    width: 150px;
    height: 45px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

img{
    align-self: center;
    width: 100vh;
    height: 40vh;
    margin-bottom: 50px;
    padding-top: 50px;
}

#top-mid{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 200px;
    flex: 1 1 auto;
    width: 246vh;
}

.heading{
    font-weight: 900;
    font-size: 50px;
    padding: 50px;
}

.content{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    align-items: center;
    gap: 50px;
}

.pics{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    align-items: center;
}


.stock{
    border: solid 6px rgb(53, 123, 226);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 35vh;
    height: 35vh;
    align-items: center;
}

.text{
    justify-self: center;
    text-align: center;
    margin: 5px;
    width: 250px;
    word-wrap: break-word;
}